.l-activity {
	margin-top: 120px;
	&.l-activity--h2 {
	}
	&.l-activity--h3 {
	}
}

.activity {
	max-width: 1400px;
	margin: 0 auto;
	&-header {
	}
	&-title {
		h1 {
			line-height: $line_height_xsmall;
			font-size: 40px;
			font-weight: bold;
			color: $color_site_keycolor;
		}
	}
	&-body {
		margin-top: 40px;
	}
	&-text {
		margin-top: 25px;
		line-height: $line_height_regular;
		font-size: $font_size_medium;
		&:first-child {
			margin-top: 0;
		}
	}
	&.activity--h2 {
	}
}

.l-activity_list {
	display: flex;
	flex-wrap: wrap;
	margin: 80px auto 0;
	li {
		flex-basis: calc((100% - 140px)/3);
		margin-left: 70px;
		&:nth-child(3n-2) {
			margin-left: 0;
		}
		&:nth-child(n+4) {
			margin-top: 40px;
		}
	}
}

.activity_list {
	display: flex;
	flex-flow: column;
	height: 100%;
	&-object {
		// TODO: 固定サイズなので汎用的ではない。jsで、短辺を取得し、それに合わせる、cover的な処理が必要。
		height: 260px;
		overflow: hidden;
		img {}
	}
	&-header {
		display: flex;
		align-items: center;
		margin-top: 30px;
	}
	&-title {
		flex: 1;
		letter-spacing: .1rem;
		font-weight: bold;
		font-size: $font_size_xxlarge;
		color: $color_site_keycolor__dark;
	}
	&-body {
		flex: 1;
		margin-top: 20px;
	}
	&-text {
		line-height: $line_height_medium;
	}
	&-footer {
		margin-top: 20px;
	}
	&-action {
		width: 220px;
		margin: 0 auto;
	}
}