.l-fellow {
	margin-top: 120px;
}
.fellow {
	max-width: 1400px;
	margin: 0 auto;
	&-header {
	}
	&-title {
		h1 {
			line-height: $line_height_xsmall;
			font-size: 40px;
			font-weight: bold;
			color: $color_site_keycolor;
		}
	}
	&-subtitle {
		margin-top: 10px;
		p {
			line-height: $line_height_xsmall;
			text-align: center;
			font-weight: bold;
			font-size: $font_size_large;
			color: #111;
			font-style: italic;
			font-family: "Archer SSm A", "Archer SSm B", serif;
		}
	}
	&-body {
		margin: 20px auto 0;
	}
	&-object {
		margin-bottom: 50px;
		text-align: center;
	}
	&-text {
		margin-top: 25px;
		line-height: $line_height_regular;
		font-size: $font_size_medium;
		&:first-child {
			margin-top: 0;
		}
	}
}

.l-fellow_list {
	display: flex;
	flex-wrap: wrap;
	margin: 80px auto 0;
	>li {
		flex-basis: calc((100% - 160px)/3);
		margin-left: 80px;
		&:nth-child(3n-2) {
			margin-left: 0;
		}
		&:nth-child(n+4) {
			margin-top: 60px;
		}
	}
}
.fellow_list {
	display: flex;
	flex-flow: column;
	height: 100%;
	&-header {
	}
	&-object {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 120px;
		height: 120px;
		margin: 0 auto;
		border-radius: 50%;
		background: #f4f4f4;
	}
	&-img {
	}
	&-header_contents {
		margin-top: 15px;
	}
	&-note {
		text-align: center;
		font-size: $font_size_small;
	}
	&-name {
		margin-top: 8px;
		text-align: center;
		font-size: $font_size_large;
		font-weight: bold;
		color: $color_site_keycolor;
	}
	&-body {
		flex: 1;
		margin-top: 20px;
	}
	&-text {
		margin-top: 10px;
		line-height: $line_height_small;
		text-align: left;
		&:first-child {
			margin-top: 0;
		}
	}
	&-footer {
		margin-top: 20px;
		.l-sns {
			flex-wrap: wrap;
			justify-content: center;
			li {
				margin: 0 8px 8px 0;
			}
		}
	}
}

