	<div class="l-footer">
		<div class="footer">
			<div class="footer-menulist">
				<ul class="l-footer_menulist">
					<li>
						<div class="footer_menulist">
							<div class="footer_menulist-title">Activity</div>
							<div class="footer_menulist-body">
								<ul class="l-footer_menu">
									<li>
										<a href="#" class="footer_menu">Style</a>
									</li>
									<li>
										<a href="#" class="footer_menu">Change</a>
									</li>
									<li>
										<a href="#" class="footer_menu">Standard</a>
									</li>
									<li>
										<a href="#" class="footer_menu">Vintage</a>
									</li>
									<li>
										<a href="#" class="footer_menu">Line</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<div class="footer_menulist">
							<div class="footer_menulist-title">About</div>
							<div class="footer_menulist-body">
								<ul class="l-footer_menu">
									<li>
										<a href="#" class="footer_menu">Me</a>
									</li>
									<li>
										<a href="#" class="footer_menu">Concern</a>
									</li>
									<li>
										<a href="#" class="footer_menu">Fellow</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<div class="footer_menulist">
							<div class="footer_menulist-title">Contact</div>
							<div class="footer_menulist-body">
								<ul class="l-footer_menu">
									<li>
										<a href="#" class="footer_menu">Gmail</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="footer-sns">
				<ul class="l-footer_sns">
					<li>
						<a href="#" class="footer_sns"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					</li>
					<li>
						<a href="#" class="footer_sns"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					</li>
					<li>
						<a href="#" class="footer_sns"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</li>
					<li>
						<a href="#" class="footer_sns"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
					</li>
				</ul>
			</div>

			<div class="footer-about">
				<div class="footer-title">BASIC</div>
				<div class="footer-copyright">&copy;&nbsp;Changes All Rights Reserved.</div>
			</div>
		</div>
	</div>