<div class="l-gheader">
	<header class="gheader">
		<a href="" class="gheader-nav">
			<i class="fa fa-tasks" aria-hidden="true"></i>
		</a>
		<div class="gheader-title">
			<img src="<%= rootRelativePath %>img/logo_sample.svg" width="" height="16" alt="" class="gheader-logo">
		</div>
		<a href="" class="gheader-nav gheader-nav--variation">
			<i class="fa fa-user-circle" aria-hidden="true"></i>
		</a>
	</header>
</div>