<div class="l-hero">
	<div class="hero">
		<img src="<%= rootRelativePath %>img/photo_sample_hero.png" width="100%" alt="">
		<!-- 		
		<div class="hero-content">
			<div class="hero-title">Local Landspape<br>development made simple.</div>
			<div class="hero-body">
				<p class="hero-text">But you were a hero during the war, right?<br>This is really strange if you haven’t done anything wrong.</p>
			</div>
			<div class="hero-action">
				<a href="Javascript:void(0);" class="btn btn--hero btn--large">Get it now</a>
			</div>
		</div>
		<div class="hero-object">
			<img src="<%= rootRelativePath %>img/picture_sample_pc.png" width="650" height="" alt="">
		</div>
		-->
	</div>
</div>


