<div class="l-recent_post">
	<div class="recent_post">
		<div class="recent_post-header">

			<div class="recent_post-header-title">
				<h1>Recent Post</h1>
			</div>

			<div class="recent_post-header-action">
				<a href="Javascript:void(0);" class="btn btn--primary_line btn--small">More Post</a>
			</div>
		</div>
		<div class="recent_post-body">
			<ul class="l-recent_post_list">
				<li>
					<div class="recent_post_list">
						<div class="recent_post_list-header">
							<div class="recent_post_list-date">2017/01/01</div>
							<div class="recent_post_list-title">Except for the ugly photograph you keep hanging on the wall up there.</div>
						</div>
						<div class="recent_post_list-body">
							<p class="recent_post_list-text">Falling in love happens to you all the time. So, have fun in Hollywood, little boy.</p>
						</div>
						<div class="recent_post_list-footer">
							<div class="recent_post_list-action">
								<a href="Javascript:void(0);" class="btn btn--primary btn--medium">Read More</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="recent_post_list">
						<div class="recent_post_list-header">
							<div class="recent_post_list-date">2017/01/01</div>
							<div class="recent_post_list-title">That’s right. Love is a little bit more complicated here than it is in America. </div>
						</div>
						<div class="recent_post_list-body">
							<p class="recent_post_list-text">We’ll got to the church as soon as this is over. Ah, don’t worry, Fio. According to my sweet mama, it isn’t the love that counts.</p>
						</div>
						<div class="recent_post_list-footer">
							<div class="recent_post_list-action">
								<a href="Javascript:void(0);" class="btn btn--primary btn--medium">Read More</a>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="recent_post_list">
						<div class="recent_post_list-header">
							<div class="recent_post_list-date">2017/01/01</div>
							<div class="recent_post_list-title">You can’t have both</div>
						</div>
						<div class="recent_post_list-body">
							<p class="recent_post_list-text">My grandpa has been telling me stories recent_post seaplane pilots ever since I was born. He always says that seaplane pilots are the most honorable and trustworthy fighters in the world.</p>
						</div>
						<div class="recent_post_list-footer">
							<div class="recent_post_list-action">
								<a href="Javascript:void(0);" class="btn btn--primary btn--medium">Read More</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>