<div class="l-sub">
	<div class="sub">
		<div class="sub-object">
			<i class="fa fa-handshake-o" aria-hidden="true"></i>
		</div>
		<div class="sub-content">
			<div class="sub-title">My iPhone is<br>quite the world traveler</div>
			<div class="sub-body">
				<p class="sub-text">At first I was hopeful that someone would turn in the bag, but I knew it was gone for good when one week later Apple’s Find My Phone alerted me that my device was 7,200 miles away.</p>
			</div>
			<div class="sub-action">
				<a href="Javascript:void(0);" class="btn btn--primary btn--large">Let's do it!!!</a>
			</div>
		</div>
	</div>
</div>
<div class="l-sub_sns">
	<div class="sub_sns">
		<div class="sub_sns-text">Let's look more about me by sns:</div>
		<ul class="l-sns">
			<li>
				<a href="#" class="sns"><i class="fa fa-youtube" aria-hidden="true"></i></a>
			</li>
			<li>
				<a href="#" class="sns"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			</li>
			<li>
				<a href="#" class="sns"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			</li>
			<li>
				<a href="#" class="sns"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</li>
			<li>
				<a href="#" class="sns"><i class="fa fa-mixcloud" aria-hidden="true"></i></a>
			</li>
		</ul>
	</div>
</div>